# installing Transifex as requirement fails, so it has to be installed manually
# and referenced in TX_ROOT
# see:
# https://github.com/transifex/transifex/issues/158
# https://github.com/transifex/transifex/pull/94
# https://github.com/transifex/transifex/issues/157


