# for legacy import
MySQL-python

# https://github.com/transifex/transifex/issues/158
-f http://trac.transifex.org/files/deps/django-piston-0.2.3.tar.gz

# https://github.com/transifex/transifex/pull/94
-e git+git://github.com/mpessas/python-Levenshtein.git#egg=Levenshtein

# https://github.com/transifex/transifex/issues/157
-e git+git://github.com/toastdriven/django-haystack.git@3289ab8bb410321a94608a13e2e527ddbd8f1a7e#egg=django-haystack

# Transifex, also installs requirements
-e git://github.com/transifex/transifex.git#egg=transifex

# Needed to read XPI's and parse .manifest's
-e git://github.com/mozilla/amo-validator.git#egg=amo-validator

# doesn't hurt
django-debug-toolbar
