{% extends "transifex/projects/project_menu.html" %}

{% block project_header %}
{{ block.super }}

<style>
#content {position:relative;}
</style>

<div style="position:absolute; right:20px">
<a
{% if user.is_authenticated %}
  class="i16 buttonized downsource tipsy_enable"
  href="{% url download_big_zip_replaced project.slug %}"
  rel="nofollow"
  original-title="All locales zipped"
{% else %}
  class="i16 buttonized disabled downsource tipsy_enable"
  original-title="You must login to get all locales zipped"
{% endif %}
>ZIP</a>
</div>




{% endblock %}
