{% extends "transifex/projects/release_detail.html" %}
{% load impala_tags %}

{% block breadcrumb %}{{ block|supersuper }} &raquo; <a href="{{ project.get_absolute_url }}">{{ project.name }}</a> &raquo; Release '{{ release.name }}'{% endblock %}

{% block content_sec %}
<a
  class="i16 buttonized downsource"
  href="{% url release_download release.project.slug release.slug %}"
  rel="nofollow"
  >ZIP</a>

<script>
$(function(){
    $("#body_sec").append( $("#body_main .editlinks p a") )
})
</script>
{% endblock %}
