{% load i18n %}{% url resource_detail project.slug resource.slug as resource_url %}{% url project_detail project.slug as project_url %}{% with resource.name as resource_name %}{% with project.name as project_name %}{% with language.name as language_name %}
{% blocktrans %}A translation for {{ language_name }} was sent to <a href="{{ resource_url }}">{{ resource_name }}</a> of the <a href="{{ project_url }}">{{ project_name }}</a> project{% endblocktrans %}
{% endwith %}{% endwith %}{% endwith %}
