{% extends "projects/project_menu.html" %}
{% load staticfiles %}
{% load i18n %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load txcommontags %}

{% block extra_head %}
<script type="text/javascript" src="{% static "js/tablesorted.js" %}"></script>
{% endblock %}

{% block title %}{{ block.super }} | {{ project.name }} | {% trans "Timeline" %}{% endblock %}

{% block breadcrumb %}{{ block.super }} &raquo; <a href="{{ project.get_absolute_url }}">{{ project.name }}</a> &raquo; {% trans "Timeline" %}{% endblock %}

{% block content_main %}

<div class="obj_bigdetails">
<h2 class="name">
 {% blocktrans with project.name as project_name %}{{ project_name }} Timeline{% endblocktrans %}
</h2>

{% include "timeline.html" %}

</div>

{% endblock %}

{% block content_footer %}{% endblock %}
