{% extends "projects/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} | {% blocktrans with project.name as project_name %}Delete {{ project_name }}{% endblocktrans %}{% endblock %}

{% block breadcrumb %}{{ block.super }} &raquo; {% blocktrans with project.name as project_name %}Delete <em>{{ project_name}}</em>{% endblocktrans %}{% endblock %}

<a href="{{ project.get_absolute_url }}">{{ project.name }}</a> &raquo; {% trans "Delete" %}

{% block content_title %}
    <h2 class="pagetitle">{% blocktrans with project.name as project_name %}Say goodbye to <em>{{ project_name }}</em>?{% endblocktrans %}</h2>
{% endblock %}

{% block content_main %}

<p>
  {% blocktrans with project.name as project_name %}Are you sure you want to permanently delete the registered project '{{ project_name }}'?{% endblocktrans %}
</p>

  <form action='' method='post'>{% csrf_token %}
    <input type="submit" class="i16 submit buttonized" value='{% trans "Yes, I'm sure!" %}' />
  </form>

{% endblock %}

{% block content_footer %}

{% endblock %}
