{% extends "base-sample.html" %}
{% load i18n  staticfiles %}

{% block title %}{% trans "Babelzilla" %}{% endblock %}

{% block logo %}<img border="0" src="{% static 'impala/images/logo.png' %}"  alt="{% trans "Go to start page" %}" />{% endblock %}

{% block shortcut_icon %}
  <link rel="shortcut icon" href="{% static 'impala/images/favicon.png' %}" type="image/png" />
{% endblock %}

{% block footerlinks %}
    <a href="https://github.com/tymofij/adofex/wiki">Notes</a> &bull;
    <a href="https://github.com/tymofij/adofex/issues">Issues</a> &bull;
    <a href="http://blog.babelzilla.org/">Blog</a> &bull;
    <a href="http://help.transifex.net/user-guide/getting-started.html" title="{% trans "Learn more about Transifex" %}">Docs</a>
{% endblock %}
