{% extends "base-sample.html" %}
{% load i18n %}

{% block title %}{% trans "Adofex" %}{% endblock %}

{% block logo %}<img border="0" src="{{ STATIC_URL }}impala/images/logo.png"  alt="{% trans "Go to start page" %}" />{% endblock %}

{% block shortcut_icon %}
  <link rel="shortcut icon" href="{{ STATIC_URL }}impala/images/favicon.png" type="image/png" />
{% endblock %}

{% block navmenu %}<b>
<a href="{% url project_list %}" title="{% trans "The projects being served" %}">{% trans "Projects" %}</a>
| <a href="/projects/p/mozilla/teams/" title="{% trans "Official Teams" %}">{% trans "Teams" %}</a>
</b>{% endblock %}
