{% extends "base.html" %}
{% load i18n txcommontags statistics_resources %}

{% block body_class %}index{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content_title %}
  <h2 class="pagetitle">{% trans "Welcome to Adofex" %}</h2>
{% endblock %}

{% block content %}
<style>
#intro {width: 47%;}
div.stats {display: inline-block; }
</style>

{% if not request.user.is_authenticated %}
<div id="login_index">
  <div class="divright">
  {% include "simpleauth/login_box.html" %}
  </div>
</div>
{% else %}
<div style="float:right; width: 52%"">

<h3>{% trans "Maintained by you" %}</h3>
{% if maintained_projects %}
<ul class="simple ">
  {% for project in maintained_projects %}
    <li class="i16 project"><strong><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></strong>
    {% if project.description %} - <span class="description">{{ project.description }}</span>{% endif %}</li>
  {% endfor %}
</ul>
{% else %}
  <p>You are not maintaining any projects.</a>
{% endif %}

<h3>{% trans "Watched by you" %}</h3>
{% if watched_projects %}
<ul class="simple ">
  {% for project in watched_projects %}
    <li class="i16 project"><strong><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></strong>
    {% if project.description %} - <span class="description">{{ project.description }}</span>{% endif %}</li>

    <div style="margin: 5px 0 15px 10px;">
    {% for stat in project.statlist %}
        <div style="margin: 5px 0">
        <div style="display: inline-block; width: 150px;">
        <a href="{% url release_language_detail project.slug 'all-resources' stat.object.code %}">{{ stat.object.name }}</a> <span class="locale">({{ stat.object.code }})</span>
        </div>
        {% with 100 as barwidth %}
            {% stats_bar_simple stat barwidth %}
        {% endwith %}

        {% with stat.last_update as last_update %}
        <span style="border:0; font-size:smaller;" unixdate="{{ last_update|date:'U' }}">
          {% with stat.last_committer as last_committer %}
          {% if last_update %}
              {{ last_update|timesince }}
              {% if last_committer %}
              by {{ last_committer }}
              {% endif %}
          {% else %}
              {% trans "no activity yet" %}
          {% endif %}
          {% endwith %}
        </span>
        {% endwith %}</div>
    {% endfor %}
    </div>
  {% endfor %}
</ul>
{% else %}
  <p>You are not watching any projects yet.</a>
{% endif %}
</div>
{% endif %}

<div id="intro">
  <p class="promo">{% trans "Adofex is the service for translating Mozilla addons." %}</p>
  <div class="searchform content_header_prim">
    {% include "search_form.html" %}
    {% url project_list as project_list %}
  </div>
<div id="top_lists">{% include "projects/project_latests.html" %}

{% blocktrans %}You could also browse through <a href="{{ project_list }}">all projects</a>.{% endblocktrans %}

</div>
</div>
<div id="clear"></div>
{% endblock %}
