{% extends "transifex/teams/team_menu.html" %}
{% load impala_tags %}

{% block project_header %}
{{ block.super }}

<style>
#content {position:relative;}
</style>

<div style="position:absolute; right:20px">
{% download_project_xpi project %}

<a
{% if user.is_authenticated %}
  class="i16 buttonized downsource tipsy_enable"
  href="{% url download_zip_replaced project.slug language.code %}"
  rel="nofollow"
  title="All files zipped"
{% else %}
  class="i16 buttonized disabled downsource tipsy_enable"
  original-title="You must login to get locale zipped"
{% endif %}
  >ZIP</a>
</div>
{% endblock %}
