{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{{ block.super }} | 
{% trans "Reset password" %}
{% endblock %}

{% block content_title %}
<h2 class="pagetitle with_description">{% trans "Reset password" %}</h2>
<div class="description"></div>
{% endblock %}

{% block content_main %}
<form class="tx-form" action="" method="post">
  <fieldset>
    {% csrf_token %}
    {{ form.as_p }}
  </fieldset>
  <input type="submit" class="i16 tick buttonized" value="{% trans "Reset password" %}" />
</form>
{% endblock %}
