{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{{ block.super }} | 
{% trans "Password reset" %}
{% endblock %}

{% block content_title %}
<h2 class="pagetitle with_description">{% trans "Password reset" %}</h2>
<div class="description"></div>
{% endblock %}

{% block content_main %}
<p class="i16 infomsg">
  {% url userena_signin as login_url %}
  {% blocktrans %}Your password has been reset. You can now <a href="{{ login_url }}">sign in</a> with your new password.{% endblocktrans %}
</p>
{% endblock %}
