{% extends "projects/project_menu.html" %}
{% load i18n %}
{% load txcommontags %}
{% load addons %}

{% block title %}{{ block.super }} | {{ project.name }} | {% trans "Message" %}{% endblock %}

{% block breadcrumb %}{{ block.super }} &raquo; <a href="{{ project.get_absolute_url }}">{{ project.name }}</a> &raquo; {% trans "Message" %}{% endblock %}

{% block content_main %}

<h3>Message users interested in your project</h3>

<p>
Namely: {% for c in observing_users %}
    <img class="border" width="16" height="16" src="{{ c.profile.get_mugshot_url }}" style="vertical-align:middle"/>
    <a href="{% url profile_public c.username %}">{{ c.username }}</a>&nbsp;&nbsp;
{% endfor %}
</p>

{% if sent %}
<p style="padding:30px;">Message was successfully sent.</p>
{% else %}
<form method="post">{% csrf_token %}
{{ form.subject.errors }}
{{ form.subject }}<br/>
{{ form.message.errors }}
{{ form.message }}<br/>
<input type="submit" class="i16 submit buttonized" value="Submit" />
</form>
<script>
$("#id_subject").attr('placeholder', 'Subject')
$("#id_message").attr('placeholder', 'Message')
</script>
{% endif %}

{% endblock %}
