{% extends "projects/project_menu.html" %}
{% load i18n %}
{% load txcommontags %}
{% load addons %}

{% block title %}{{ block.super }} | {{ project.name }} | {% trans "Import" %}{% endblock %}

{% block breadcrumb %}{{ block.super }} &raquo; <a href="{{ project.get_absolute_url }}">{{ project.name }}</a> &raquo; {% trans "Import" %}{% endblock %}

{% block content_main %}

<div style="float: right; height: 300px; overflow: auto; width: 450px;">
{% for message in work_messages %}
    {{ message }}<br/>
{% endfor %}
</div>

<form method='post' enctype="multipart/form-data">{% csrf_token %}

<h3>Upload your XPI or TAR file:</h3>
<p>The importing is slow, may take a minute or two.</p>
<p>Please note, that uploading "replaced" bumps tranlation status to 100%,<br/>
    but that might not be what you're after.</p>

    <p>
    {{ form.xpifile }}
    <input type="submit" class="i16 submit buttonized" value="Submit" />
    </p>
    {{ form.xpifile.errors }}
</form>


<style>
    ul.errorlist, ul.errorlist li {float: none;}
    #id_bzid {width: 60px;}
    div#body {min-height: 350px;}
</style>

{% endblock %}
