{% load staticfiles %}

{% block head %}
  <link media="screen" href='{% static "impala/css/buttons.css" %}' type="text/css" rel="stylesheet" />
  <link media="screen" href='{% static "impala/css/icons.css"  %}' type="text/css" rel="stylesheet" />
  <link media="screen" href='{% static "impala/css/reskin.css" %}' type="text/css" rel="stylesheet" />
  <link href="http://fonts.googleapis.com/css?family=Ubuntu:400" type="text/css" rel="stylesheet" />
  <script src='{% static "impala/js/init.js" %}' ></script>
{% endblock %}
