{% comment %}These are the blocks injected to view under /projects/p/PROJECT_SLUG/{% endcomment %}
{% load i18n %}
{% load tx_action_log %}

{% block menu %}
{% if request.user.is_authenticated and is_maintainer %}
<li class="{% if message_watchers %}selected{% endif %}">
    <a href="{% url message_watchers project.slug %}">
        <span>{% trans "Message" %}</span>
    </a>
</li>

<li class="{% if moz_import %}selected{% endif %}">
    <a href="{% url moz_import project.slug %}">
        <span>{% trans "Import" %}</span>
    </a>
</li>
{% endif %}
{% endblock %}
